/* Loader Styles start here */
.loader-wrapper {
    --line-width: 5px;
    --curtain-color: #f1faee;
    --outer-line-color: #a8dadc;
    --middle-line-color: #457b9d;
    --inner-line-color: #1d3557;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
}
  
.loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
  /*   transform: translate(-50%, -50%); */
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--outer-line-color);
    border-radius:100%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index:1001;
}
  
.loader:before {
    content:"";
    position: absolute;
    top:4px;
    left:4px;
    right:4px;
    bottom:4px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--inner-line-color);
    border-radius:100%;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
}
  
.loader:after {
    content:"";
    position: absolute;
    top:14px;
    left:14px;
    right:14px;
    bottom:14px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--middle-line-color);
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
}
  
@-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
}
  
.loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background:var(--curtain-color);
    width:51%;
    height:100%;
    z-index:1000;
}
  
.loader-wrapper .loader-section.section-left {
    left:0
}
.loader-wrapper .loader-section.section-right {
    right:0;
}
  
/* Loaded Styles */ 
.loaded .loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
}
.loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.loaded .loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all .3s 1s ease-out;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-family: "Nunito", sans-serif!important;
}

.navbar {
    background-color: #fff;
    padding: 22px 10px!important;
    border-bottom: 1px solid #f7f7f7;
}

body {
    font-family: "Nunito", sans-serif!important;
}

.get-started-btn {
    color: #fff!important;
    background-color: #26498a!important;
    border-color: #26498a!important;
    border: 1px!important;
    border-radius: 10px!important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px!important;
}

.banner-section {
    margin-top: 140px!important;
    margin-bottom: 50px;
    background-color: #fff;
}

.form-control {
    background-color: #F7FAFC!important;
    background-clip: padding-box!important;
    border: 1px solid #F7FAFC!important;
    border-radius: 10px!important;
}

.container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.bg{
    position: relative;
    width: 100%;
    z-index: 0;
}

.clients-logo {
    padding-top: 50px;
    padding-bottom: 50px;
}

.awards-logo {
    padding-top: 0px;
    padding-bottom: 60px;
}

.about-section {
    background-color: #F4FAFF;
    padding: 90px 40px!important;
}

.sub-text {
    color: #079aa4;
}

.color-text {
    color: #204487;
}

.about-heading {
    font-size: 50px;
    color: #303030;
    line-height: 65px;
}

.text-about {
    padding: 70px 30px!important;
}

.product-section {
    background-color: #fff;
    padding: 90px 0px;
}

.footer-section {
    padding: 50px 0px;
}

.newsletter-section {
    background-color: #0a94a8;
    padding: 120px 0px;
    background-image: linear-gradient(
83deg, #0898a5, #2d4f8e);
    border-radius: 30px;
}

.newsletter-text {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
}

.newsletter-form {
    padding-top: 50px;
}

div.parent { 
    display : table;
    padding : 5px; 
    width   : 100%;
  /* you can change/remove margin */
    margin   :5px 0; 
  }
div.product-text { 
    vertical-align: middle;
    display: table-cell;
    padding-left: 20px;
}
div.parent .img {
    vertical-align: middle;
    display: table-cell;
    padding-right: 5px;
    width: 100px; /* you can change width */
}
div.img img {
    width: 100%;
    vertical-align: middle;
    border: 2px solid #e5f6f5;
    border-radius: 4px;
}

.heading {
    color: #00A69C;
    font-weight: 600;
    font-size: 20px;
}

.icons-clients {
    font-size: 65px;
    color: #6E7071;
}

.icon-text {
    color: #00a6a9;
    font-size: 50px;
    padding-bottom: 7px;
}

.testimonial-one {
    padding: 50px 30px;
    background: rgba(0, 166, 156, 0.1);
    border-radius: 30px;
    margin-top: 50px;
}

.testimonial-two {
    padding: 50px 30px;
    background: rgba(27, 118, 186, 0.1);
    border-radius: 30px;
    margin-top: 50px;
}

.testimonial-text {
    color: #000;
    font-size: 15px!important;
    margin: 28px 0px;
    line-height: 23px;
    padding: 0px 40px 0px 0px;
}

.author {
    color: #000;
    font-size: 14px!important;
    margin-bottom: 0px;
}

.company {
    font-size: 14px!important;
}

.blog-section {
    padding-bottom: 90px;
}

.card-text {
    font-size: 13px;
}

.card-title {
    color: #000;
    font-weight: 600;
}

.card-body {
    flex: 1 1 auto!important;
    padding: 16px 16px 43px 16px!important;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px!important;
    border-radius: 0px 0px 30px 30px;
}
footer {
    padding-top: 90px;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.mega-menu-text {
    font-size: 13px;
    font-weight: 600;
}

.mega-div {
    border: 1px solid #fff!important;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.menu-logo {
    width: 20px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.title {
    margin-bottom: 0px!important;
}

.logo-menu {
    padding-left: 10px;
}

.carousel-indicators {
    bottom: -55px!important;
}

.about-jumbotron {
    padding: 100px 10px;
    background-color: #F4FAFF;
    margin-top: 144px;
    margin-bottom: 40px;
    border-radius: 50px;
}

.arrow-down {
    color: #1B76BA;
    font-size: 40px;
    padding-top: 40px;
}

.spacing {
    padding: 30px 0px;
}

.gallery {
    padding-bottom: 100px;
}

.what-we-do {
    background-color: #F4FAFF;
    padding: 90px;
    margin-top: 45px!important;
}

.values {
    padding: 60px 40px 100px 40px;
    background-color: rgba(0, 166, 156, 0.1);
    border-radius: 30px;
}

.values-two {
    padding: 60px 40px 100px 40px;
    background-color:#1B76BA1A;
    border-radius: 30px;
}

.values-three {
    padding: 60px 40px 100px 40px;
    background-color: rgba(51, 51, 51, 0.1);;
    border-radius: 30px;
}

.img-footer {
    padding: 70px 10px;
}

.contact-icon {
    color: #246294;
    background-color: #E8F1F8;
    padding: 1px 7px;
    font-size: 18px;
    border-radius: 8px;
}

.contact-icon-three {
    color: #246294;
    background-color: #E5F6F5;
    padding: 1px 7px;
    font-size: 18px;
    border-radius: 8px;
}

.spacing-contact {
    padding-bottom: 56px;
}

.contact-menu {
    padding-left: 34px;
}

.title-list {
    margin-bottom: 0px!important;
    font-size: 14px!important;
}

.colored-btn {
    background-color: #00A69C!important;
}

.form-bg {
    background-color: #F8F8F9;
    padding: 60px  40px;
    border-radius: 30px;
}

.contact-heading {
    font-size: 20px;
    font-weight: 600;
}

.form-control-contact {
    background-color: #ffffff!important;
    background-clip: padding-box!important;
    border: 1px solid #ffffff!important;
    border-radius: 5px!important;
    font-size: 13px!important;
}

.contact-section {
    margin-bottom: 70px;
}

.vl {
    border-right: 1px solid #c8c9ca;
    height: 500px;
    /* position: absolute; */
    left: 0%;
    /* margin-left: -3px; */
    top: -16px;
}

.faq {
    margin-top: -16px;
}

.faq-one {
    padding: 60px 60px;
}

.faq-two {
    padding: 44px 60px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
}
  
.panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    /* display: inline-block; */
    /* font-family: 'Glyphicons Halflings'; */
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
  
.panel-default>.panel-heading a[aria-expanded="true"] {
    background-color: #eee;
}
  
.panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
  
.panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.accordion-heading {
    font-size: 15px;
    color: #000!important;
    font-weight: 700;
}

.panel-faq {
    font-size: 13px;
    padding: 20px;
}

a.icon-faq:hover {
    color: #333;
    text-decoration: underline!important;
}

a.icon-faq {
    color: #333;
    /* text-decoration: underline!important; */
}